@{
    ViewData["Title"] = "Home Page";
}

<div class="clearfix">&nbsp;</div>

<hand player="John">
    <card suit="Heart" rank="Ace"></card>
    <card suit="Club" rank="Eight"></card>
    <card suit="Diamond" rank="Jack"></card>
</hand>

<hand player="Jane">
    <card suit="Spade" rank="Four"></card>
    <card suit="Heart" rank="Queen"></card>
    <card suit="Heart" rank="Seven"></card>
</hand>